.leaflet-control-attribution.leaflet-control {
    display: none !important;
}

.leaflet-bar {
    border-width: 1px !important;
}

.leaflet-bar a {
    background-color: rgb(247, 245, 251) !important;
}