@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@font-face {
  font-family: 'YuwoteCharvet-Fat';
  src: url('./fonts/YuwoteCharvet-Fat.otf') format('opentype');
}

@font-face {
  font-family: 'HausEthnikDingbats-Regular';
  src: url('./fonts/HausEthnikDingbats-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Nehanda-SpiritMedium';
  src: url('./fonts/Nehanda-SpiritMedium.ttf') format('truetype');
}

@font-face {
  font-family: 'MangueiraAlt-Thin';
  src: url('./fonts/MangueiraAlt-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'MangueiraAlt-Regular';
  src: url('./fonts/MangueiraAlt-Regular.ttf') format('truetype');
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body {
  background-color: rgba(247, 245, 251, 1);
  font-family: 'IBM Plex Mono', monospace !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App-link {
  color: #61dafb;
}

a:link {
  color: rgb(114, 114, 114) !important;
  text-decoration: none !important;
}

a:active {
  color: rgb(114, 114, 114) !important;
}

a:visited {
  color: rgb(114, 114, 114) !important;
}

::-webkit-scrollbar {
  height: 4px;
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

video {
  object-fit: cover !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.boxheader {
  position: fixed;
  margin-top: 3%;
  margin-left: 90%;
  z-index: 1;
  display: flex;
  justify-content: center;
}

.logo {
  background: url("../public/alliance.png") no-repeat;
  background-repeat: no-repeat;
  background-size: 60px 50px;
  width: 60px;
  height: 50px;
}

.translation {
  animation: none !important;
  font-size: 0.7em !important;
  width: auto !important;
  z-index: 999 !important;
  background-color: rgba(247, 245, 251, 0) !important;
  ;
}

.dot>div>div>div {
  width: 3px !important;
  height: 3px !important;
  background-color: rgb(114, 114, 114) !important;
}

.dot>div {
  z-index: 999 !important;
}

.MuiButton-text {
  -webkit-text-fill-color: rgb(114, 114, 114, 1);
  -webkit-text-stroke-width: 0;
  -webkit-text-stroke-color: rgb(114, 114, 114, .5);
  animation: opacity 2s ease-in-out infinite alternate;
  -webkit-animation: opacity 2s ease-in-out infinite alternate;
}

.MuiButton-text:hover {
  background-color: rgb(114, 114, 114) !important;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(87, 80, 80, 0.5);
}

.MuiTouchRipple-root {
  outline: 1px solid rgb(114, 114, 114);
  outline-offset: -8px;
}

.MuiSnackbar-root.MuiSnackbar-anchorOriginBottomLeft {
  position: relative;
  margin-top: 24px;
}

.snack {
  font-family: "Nehanda-SpiritMedium" !important;
  font-size: 18px !important;
  text-decoration: none !important;
}

.MuiPaper-root {
  box-shadow: none !important;
  outline: 1px solid rgba(146, 145, 145, 0.4);
  background-color: rgba(247, 245, 251, 1) !important;
  outline-offset: 1px;
  border-radius: 0% !important;
  overflow: hidden;
  text-overflow: ellipsis;
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation6.MuiSnackbarContent-root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'IBM Plex Mono', monospace !important;
  font-weight: 600 !important;
  font-size: 0.32em !important;
  letter-spacing: 0px !important;
  line-height: 1.28em !important;
  box-shadow: none;
  outline: 1px solid rgb(80, 80, 80);
  outline-offset: 3px;
  height: 100px;
  overflow: auto;
}

.MuiSvgIcon-root.MuiSvgIcon-fontSizeSmall {
  color: rgba(80, 80, 80, 0.8);
}

.react-player__play-icon {
  border-color: transparent transparent transparent rgba(247, 245, 251, .5) !important;
}

.leaflet-popup-content-wrapper {
  box-shadow: none !important;
  background: rgba(247, 245, 251, 1) !important;
  border-radius: 0% !important;
  outline: 1px solid rgb(80, 80, 80);
  outline-offset: 3px;
  font-family: 'Nehanda-SpiritMedium', monospace !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 500 !important;
  font-size: 1.2em !important;
  letter-spacing: 5px !important;
  width: 200px !important;
}

.leaflet-popup-tip {
  display: none !important;
}

.leaflet-top, .leaflet-left {
  display: none !important;
}

.agathe {
  font-family: 'Nehanda-SpiritMedium', monospace !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300 !important;
  font-size: 4.3em !important;
  letter-spacing: 5px !important;
  line-height: 1.1em !important;
  -webkit-text-fill-color: rgba(5, 5, 5, 1);
  /* -webkit-text-stroke-width: 1px; */
  -webkit-text-stroke-color: rgba(5, 5, 5, 1);
  text-shadow:
    10px 10px rgba(114, 114, 114, 0.1) !important;
  padding-bottom: 10px !important;
  word-wrap: break-word;
}

.title_3 {
  font-family: 'Nehanda-SpiritMedium', monospace !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400 !important;
  font-size: 2.3em !important;
  letter-spacing: 4.2px !important;
  line-height: 1.1em !important;
  -webkit-text-fill-color: rgba(5, 5, 5, 1);
  -webkit-text-stroke-color: rgba(5, 5, 5, 1);
  text-shadow:
    10px 10px rgba(114, 114, 114, 0.1) !important;
  padding-bottom: 10px !important;
  word-wrap: break-word;
}

.title_5 {
  font-family: 'Nehanda-SpiritMedium', monospace !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 200 !important;
  font-size: 1em !important;
  letter-spacing: 4.2px !important;
  line-height: 1.1em !important;
  -webkit-text-fill-color: rgba(5, 5, 5, 1);
  -webkit-text-stroke-color: rgba(5, 5, 5, 1);
  text-shadow:
    10px 10px rgba(114, 114, 114, 0.1) !important;
  padding-bottom: 10px !important;
  word-wrap: break-word;
}

.agathenotepad {
  background: -moz-linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.01) 49%, rgba(0, 0, 0, 0.03) 50%, rgba(0, 0, 0, 0.01) 51%, rgba(0, 0, 0, 0) 100%);
  background: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.01) 49%, rgba(0, 0, 0, 0.03) 50%, rgba(0, 0, 0, 0.01) 51%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.01) 49%, rgba(0, 0, 0, 0.03) 50%, rgba(0, 0, 0, 0.01) 51%, rgba(0, 0, 0, 0) 100%);
}

.agathepng {
  border: 4px solid rgb(114, 114, 114);
  box-shadow: 0 0 0 1px rgb(114, 114, 114);
  border-radius: 10px;
  margin: 10px;
  background: url("../public/agathe.png") no-repeat;
  background-repeat: no-repeat;
  background-size: 100vw;
  height: auto;
  background-attachment: fixed;
  background-position: bottom center;
}

.mutombo {
  font-family: 'Nehanda-SpiritMedium', monospace !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 200 !important;
  font-size: 2.3em !important;
  letter-spacing: 3px !important;
  line-height: 1.1em !important;
  -webkit-text-fill-color: rgba(5, 5, 5, 1);
  -webkit-text-stroke-color: rgba(5, 5, 5, 1);
  text-shadow:
    10px 10px rgba(114, 114, 114, 0.1) !important;
  word-wrap: break-word;
}

.mutombodescr {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'IBM Plex Mono', monospace !important;
  font-weight: 400 !important;
  font-size: 0.79em !important;
  letter-spacing: 0.4px !important;
  line-height: 1.4em !important;
  box-shadow: none;
  overflow: auto;
  /* text-transform: uppercase; */
}

.footer {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'IBM Plex Mono', monospace !important;
  font-weight: 400 !important;
  font-size: 0.76em !important;
  letter-spacing: 0.32px !important;
  line-height: 1.25em !important;
  box-shadow: none;
  overflow: auto;
  /* text-transform: uppercase; */
}

.footer2 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'IBM Plex Mono', monospace !important;
  font-weight: 400 !important;
  font-size: 0.73em !important;
  letter-spacing: 0.3px !important;
  line-height: 1.21em !important;
  box-shadow: none;
  overflow: auto;
  /* text-transform: uppercase; */
}

.notepad {
  border: 4px solid rgb(114, 114, 114);
  box-shadow: 0 0 0 1px rgb(114, 114, 114);
  border-radius: 10px;
  margin: 10px;
  background: -moz-linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.01) 49%, rgba(0, 0, 0, 0.03) 50%, rgba(0, 0, 0, 0.01) 51%, rgba(0, 0, 0, 0) 100%);
  background: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.01) 49%, rgba(0, 0, 0, 0.03) 50%, rgba(0, 0, 0, 0.01) 51%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.01) 49%, rgba(0, 0, 0, 0.03) 50%, rgba(0, 0, 0, 0.01) 51%, rgba(0, 0, 0, 0) 100%);
}

.aoa {
  font-family: 'DM Sans', sans-serif !important;
  background-color: ghostwhite !important;
}

.maptext {
  position: absolute;
  z-index: 999;
  right: 20% !important;
  margin-top: 30px;
  font-family: 'Nehanda-SpiritMedium' !important;
  font-size: 2.5em;
  text-decoration: underline !important;
  letter-spacing: 2px !important;
  text-shadow:
    -2px -2px 0 rgba(247, 245, 251, 1),
    2px -2px 0 rgba(247, 245, 251, 1),
    -2px 2px 0 rgba(247, 245, 251, 1),
    2px 2px 0 rgba(247, 245, 251, 1);
}

.bagiramapmobile {
  visibility: hidden;
}

.bagiramapdesktop {
  visibility: visible;
}

.boxpostit {
  max-width: 400px;
  height: 200px;
  background-color: rgba(247, 245, 251, 1);
  margin-left: 20px;
  border-radius: 10px;
  z-index: 1;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  border: 1px solid rgb(114, 114, 114);
}

.postit {
  font-family: 'Nehanda-SpiritMedium', monospace !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 200 !important;
  font-size: 1.3em !important;
  letter-spacing: 3px !important;
  line-height: 1.1em !important;
  -webkit-text-fill-color: rgba(5, 5, 5, 1);
  -webkit-text-stroke-color: rgba(5, 5, 5, 1);
  text-shadow:
    10px 10px rgba(114, 114, 114, 0.1) !important;
  padding-bottom: 10px !important;
  word-wrap: break-word;
}

.dessin_enfant {
  filter: grayscale(100%) !important;
}

.dessin_enfant:hover {
  filter: none !important;
}

.dessin a:link, .dessin a:visited {
  color: rgba(5, 5, 5, 1) !important;
}

.fish {
  /* font-family: 'IBM Plex Mono', monospace !important; */
  font-family: 'Nehanda-SpiritMedium', monospace !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 600 !important;
  font-size: 0.9em !important;
  letter-spacing: 1.8px !important;
  line-height: 1.4em !important;
  word-break: break-word;
  -webkit-text-fill-color: rgb(105, 105, 105);
  -webkit-text-stroke-width: 0px;
  -webkit-text-stroke-color: rgb(114, 114, 114);
  text-shadow:
    10px 10px rgba(146, 145, 145, 0.1) !important;
  overflow-y: scroll;
}

.boatmodal {
  flex-flow: column wrap !important;
  position: static !important;
}

.boatmodal:hover {
  -webkit-filter: sepia(1);
  filter: sepia(1);
  background: none !important;
}

.MuiBackdrop-root {
  background-color: rgba(247, 245, 251, 0) !important;
}

.boatdescr {
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'IBM Plex Mono', monospace !important;
  font-weight: 500 !important;
  font-size: 0.72em !important;
  letter-spacing: 0.4px !important;
  line-height: 1.35em !important;
  word-break: break-word;
  box-shadow: none;
  -webkit-text-fill-color: rgb(53, 53, 53);
  outline-offset: 3px;
  max-height: 300px !important;
  overflow-y: scroll;
  padding-right: 15px;
}

.accordion {
  font-family: 'Nehanda-SpiritMedium', monospace !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 600 !important;
  font-size: 0.9em !important;
  letter-spacing: 1.8px !important;
  line-height: 1.4em !important;
  word-break: break-word;
  -webkit-text-fill-color: rgb(105, 105, 105);
  -webkit-text-stroke-width: 0px;
  -webkit-text-stroke-color: rgb(114, 114, 114);
  text-shadow:
    10px 10px rgba(146, 145, 145, 0.1) !important;
}

.MuiTableCell-root {
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'IBM Plex Mono', monospace !important;
  font-weight: 400 !important;
  font-size: 0.79em !important;
  letter-spacing: 0.4px !important;
  line-height: 1.4em !important;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}


@media only screen and (max-width: 600px) {

  .basemap {
    display: none;
  }

  .sentence {
    font-weight: 400 !important;
    font-size: 1.3em !important;
    letter-spacing: 4px !important;
    line-height: 1.1em !important;
  }

  .logo {
    background-size: 30px 25px;
    width: 30px;
    height: 25px;
  }

  .translation {
    animation: none !important;
    font-size: 0.5em !important;
    width: auto !important;
  }

  .boxheader {
    position: fixed;
    margin-top: 3%;
    margin-left: 68%;
    z-index: 1 !important;
    display: flex;
    justify-content: center;
  }

  .bagiramapdesktop {
    display: none !important;
  }

  .bagiramapmobile {
    visibility: visible !important;
  }

  .maptext {
    right: 20%;
    margin-top: 80px;
    font-size: 1.5em;
    letter-spacing: 2px !important;
  }

  .agathe {
    font-size: 2.5em !important;
    line-height: 1.3em !important;
  }

  .agathenotepad {
    background: -moz-linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.01) 49%, rgba(0, 0, 0, 0.03) 50%, rgba(0, 0, 0, 0.01) 51%, rgba(0, 0, 0, 0) 100%);
    background: -webkit-linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.01) 49%, rgba(0, 0, 0, 0.03) 50%, rgba(0, 0, 0, 0.01) 51%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.01) 49%, rgba(0, 0, 0, 0.03) 50%, rgba(0, 0, 0, 0.01) 51%, rgba(0, 0, 0, 0) 100%);
  }

  .notepad {
    background: -moz-linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.01) 49%, rgba(0, 0, 0, 0.03) 50%, rgba(0, 0, 0, 0.01) 51%, rgba(0, 0, 0, 0) 100%);
    background: -webkit-linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.01) 49%, rgba(0, 0, 0, 0.03) 50%, rgba(0, 0, 0, 0.01) 51%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.01) 49%, rgba(0, 0, 0, 0.03) 50%, rgba(0, 0, 0, 0.01) 51%, rgba(0, 0, 0, 0) 100%);
  }

  .fish {
    font-size: 0.1em;
  }

  .boxpostit {
    max-width: 200px;
    height: 100px;
    border-radius: 7px;
  }

  .postit {
    font-weight: 100 !important;
    font-size: 1.1em !important;
    letter-spacing: 3px !important;
    line-height: 1.1em !important;
    padding: 8px;
  }

  .MuiCardMedia-img {
    height: 100px !important;
    object-fit: cover !important;
    width: auto !important;
  }

  .snack {
    font-size: 9px !important;
  }

  .boatboxmodal {
    width: 320px !important;
  }

  .pirogueflex {
    display: flex;
    flex-direction: column;
  }

  .pirogueaccordion {
    width: 100% !important;
  }

  .pirogueTableContainer {
    max-height: 250px !important;
    overflow: scroll;
  }

  .pirogueTable {
    font-size: 12px !important;
  }

  .pirogueimg {
    height: 200px !important;
  }

  .pardicolorimg {
    height: 60px !important;
  }

  .title_3 {
    font-size: 1.2em !important;
  }

  .title_5 {
    font-size: 0.4em !important;
  }

  .css-46bh2p-MuiCardContent-root:last-child {
    padding-bottom: 0 !important;
  }

  .css-46bh2p-MuiCardContent-root {
    padding: 0 !important;
    font-size: 0.8em;
  }

  .css-1qw96cp {
    padding: 0 !important;
    font-size: 0.8em;
  }

  .css-1ketxds-MuiPaper-root {
    padding: 2 !important;
  }

}